.editform input {
    width: 180px;
}
.editform label {
    width:60px;
    display: inline-block;
}
.editform div {
    padding: 5px;
}
.editform-toolbar{
    position: absolute;
    float:left;
    bottom:10px;
    left:5px;
}
.editform-toolbar-gridbottom{
    position: absolute;
    float:left;
    bottom:30px;
    left:5px;
}