<script>
    Namespace.register('contract.tool');
    $(function () {
        contract.tool.billsearch = $('#contract-tool-billsearch').combogrid({
            idField: 'id',
            mode: 'remote',
            textField: 'bill_no',
            url: "./dealPAjax/searchContractByBill/",
            delay: 500,
            panelWidth: 600,
            width: 600,
            hasDownArrow: false,
            pagination: false,
            autoLoad: false,
            queryFuncName: '提单查询',
            parentWin : {},
            columns: [
                [
                    {% autoescape off %}
                        {{ id.writeUI|safe|escape }},
                        {{ bill_no.writeUI|safe|escape }},
                        {{ client_id.writeUI|safe|escape }},
                        {% comment %}

                                                {{ vslvoy.writeUI|safe|escape }},
                                                {{ cargo_name.writeUI|safe|escape }},
                        {% endcomment %}
                        {{ in_port_date.writeUI|safe|escape }}
                        {#                        {{ remark.writeUI|safe|escape }}#}
                    {% endautoescape %}
                ]
            ],
            onBeforeLoad: function (param) {
                if (param.hasOwnProperty("q")) {

                } else {
                    return false;
                }
            },
            onSelect: function (record) {
                //console.info(record);
                var row = contract.tool.billsearch.combogrid('grid').datagrid('getSelected');
                console.info('0');
                var pWin = contract.tool.billsearch.combogrid('options').parentWin;
                pWin.window('options').returnData = row['bill_no'];
                pWin.window('close');
            }
        });
        contract.tool.billsearch.combogrid('showPanel');
    });
</script>
<input id="contract-tool-billsearch"/>
