<form id="contract-contract-form" class="editform" method="post">
    <div>
        <label for="bill_no" >提单号:</label>
        <input class="easyui-validatebox" type="text" name="bill_no" data-options="required:true"/>
        <label for="vslvoy">船名航次:</label>
        <input type="text" name="vslvoy" />
        <label for="cargo_name">货名:</label>
        <input type="text" name="cargo_name" />
        <label for="origin_place">产地:</label>
        <input type="text" name="origin_place" />
    </div>
    <div>
        <label for="client_id">委托客户:</label>
        <input id= "contract-contract-form-client" type="text" name="client_id" />
        <label for="cargo_piece">件数:</label>
        <input type="text"
    </div>
</form>