<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:'true',href:'./dealmenureq/?menutext=委托头表单'">

    </div>
    <div data-options="region:'south', split:'true',height:window.innerHeight * 0.6,border:false">
        <div id="contract-contract-tabs" class="easyui-tabs" style="height:250px;">
            <div title="委托动态">
                <table id="contract-contractview-actiondatagrid" data-options="border:'false'">
                </table>
            </div>
            <div title="委托箱量">
                <table id="contract-contractview-cntrdatagrid" data-options="border:'false'">
                </table>
            </div>
        </div>

    </div>
</div>