<div class="easyui-layout" data-options="fit:true,border:true">
    <div data-options="region:'north',title:'查询',iconCls:'icon-search'">
        <div class="easyui-layout" data-options="border:'true',fit:'true'">
            <div data-options="region:'north', border:'true'" style="height: 100px">
                <form id="contract-contract-search-form" method="post">
                    <div>
                        <label for="name">Name:</label>
                        <input class="easyui-validatebox" type="text" name="name" data-options="required:true"/>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input class="easyui-validatebox" type="text" name="email" data-options="validType:'email'"/>
                    </div>
                </form>
            </div>
            <div data-options="region:'center', border:'true'">
                <table id="contract-contract-search-datagrid" data-options="border:'false'">
                </table>
            </div>
        </div>
    </div>
    <div data-options="region:'center', border:'true'">
        center
        <table id="contract-contract-main-form" data-options="border:'false'">
        </table>
    </div>
</div>
