<script>
    Namespace.register('control.contract.actiongrid');
    $(function () {
        control.contract.actiongrid._{{ seq }} = $('#control-contract-actiongrid-{{ seq }}').datagrid({
            autoLoad: false,
            contract_id: 0,
            columns: [
                [
                    {% autoescape off %}
                        {{ actionid.writeUI|safe|escape }},
                        {{ actioncontractid.writeUI|safe|escape }},
                        {{ action_id.writeUI|safe|escape }},
                        {{ finish_flag.writeUI|safe|escape }},
                        {{ finish_time.writeUI|safe|escape }},
                        {{ actionremark.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'contract_action',
            queryFuncName: '委托动态查询'
        });
    });
</script>
<table id="control-contract-actiongrid-{{ seq }}" data-options="border:'false'">
</table>