<script>
    Namespace.register('contract.contractview');
    $(function () {
        contract.contractview.datagrid = $('#contract-contract-datagrid').datagrid({
            autoSave: true,
            columns: [
                [
                    {% autoescape off %}
                        {{ id.writeUI|safe|escape }},
                        {{ bill_no.writeUI|safe|escape }},
                        {{ vslvoy.writeUI|safe|escape }},
                        {{ cargo_name.writeUI|safe|escape }},
                        {{ origin_place.writeUI|safe|escape }},
                        {{ client_id.writeUI|safe|escape }},
                        {{ cargo_piece.writeUI|safe|escape }},
                        {{ cargo_weight.writeUI|safe|escape }},
                        {{ cargo_volume.writeUI|safe|escape }},
                        {{ booking_date.writeUI|safe|escape }},
                        {{ in_port_date.writeUI|safe|escape }},
                        {{ return_cntr_date.writeUI|safe|escape }},
                        {{ custom_id.writeUI|safe|escape }},
                        {{ ship_corp_id.writeUI|safe|escape }},
                        {{ port_id.writeUI|safe|escape }},
                        {{ yard_id.writeUI|safe|escape }},
                        {{ finish_flag.writeUI|safe|escape }},
                        {{ finish_tim.writeUI|safe|escape }},
                        {{ remark.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'contract',
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group: 'contract-contract-datagrid',
                    handler: function () {
                        sy.createSearchWindow(basedata.clientsview.datagrid);
                    }
                },
                '-',
                {text: '增加',
                    iconCls: 'icon-add',
                    group: 'contract-contract-datagrid',
                    handler: function () {
                        basedata.clientsview.datagrid.datagrid('insertData', {
                            client_name: '新客户名称'
                        });
                    }
                },
                '-',
                {text: '删除',
                    iconCls: 'icon-remove',
                    group: 'contract-contract-datagrid',
                    handler: function () {
                        basedata.clientsview.datagrid.datagrid('deleteData');
                    }
                },
                '-',
                {text: '保存',
                    iconCls: 'icon-save',
                    group: 'contract-contract-datagrid',
                    handler: function () {
                        basedata.clientsview.datagrid.datagrid('postUpdateAllData');
                    }
                }
            ]

        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:'true'">
        <table id="contract-contract-datagrid" data-options="border:false">
        </table>
    </div>
</div>
