<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north',border:'false'">
        <label for="selectedtable">:</label>
        <input id="option-logview-tablecombobox" type="text" name="selectedtable"/>
        <a id="component-selectclientdate-search-{{ seq }}" href="#" class="easyui-linkbutton"
           data-options="iconCls:'icon-search',group:'component-selectclientdate'">查询</a>

    </div>
    <div data-options="region:'center',border:'false'">
        <table id="contract-contractgroupreportview-datagrid" border="false">
        </table>
    </div>
</div>