<script>
    Namespace.register('fee.prefeeauditview');
$(function () {
        fee.prefeeauditview.actfeegrid = $('#fee-prefeeaudit-actfee-datagrid').datagrid({
            autoSave: false,
            columns: [
                [
                    {% autoescape off %}
                        {field: 'check_flag',title: '选择',checkbox:true},
                        {{ idObj.writeUI|safe|escape }},
                        {{ clientIdObj.writeUI|safe|escape }},
                        {{ feeTypObj.writeUI|safe|escape }},
                        {{ amountObj.writeUI|safe|escape }},
                        {{ invoiceNoObj.writeUI|safe|escape }},
                        {{ checkNoObj.writeUI|safe|escape }},
                        {{ payTypeObj.writeUI|safe|escape }},
                        {{ feeTimObj.writeUI|safe|escape }},
                        {{ offFlagObj.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'act_fee',
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group:'fee-prefeeaudit-datagrid',
                    handler: function () {
                        sy.createSearchWindow(fee.prefeeauditview.actfeegrid);
                    }
                }
            ],
            queryFuncName:'已收核销已收查询',
            onDblClickRow: function (rowIndex, rowData) {
                return;
            },
            onClickRow: function (rowIndex, rowData) {
                var clientid = rowData.client_id;
                var opts = fee.prefeeauditview.prefeegrid.datagrid('options');
                opts.ex_parm = {
                    client_id : clientid
                };
                fee.prefeeauditview.prefeegrid.datagrid('reload');
            }
        });

        fee.prefeeauditview.prefeegrid = $('#fee-prefeeaudit-prefee-datagrid').datagrid({
            autoLoad:false,
            autoSave: false,
            columns: [
                [
                    {% autoescape off %}
                        {field: 'check_flag',title: '选择',checkbox:true},
                        {{ idObj2.writeUI|safe|escape }},
                        {{ contracIdObj2.writeUI|safe|escape }},
                        {{ feeTypObj2.writeUI|safe|escape }},
                        {{ feeCodObj2.writeUI|safe|escape }},
                        {{ clientIdObj2.writeUI|safe|escape }},
                        {{ amountObj2.writeUI|safe|escape }},
                        {{ feeTimObj2.writeUI|safe|escape }},
                        {{ lockFlagObj2.writeUI|safe|escape }},
                        {{ remarkObj2.writeUI|safe|escape }},
                    {% endautoescape %}
                ]
            ],
            queryFuncName: '已收核销应收查询'
        })

});

        function checkRule(){
            var rows = $('#fee-prefeeaudit-actfee-datagrid').datagrid('getChecked');
			var l_client = ""
            var l_okActfee = true;
            var l_sumact = 0;
            for(var i=0; i<rows.length; i++){
				var row = rows[i];
                if (l_client.length < 1 ) {
                    l_client = row.client_id;
                    l_sumact = l_sumact + parseInt(row.amount);
                }
                else {
                    if (row.client_id != l_client)
                    {  $.messager.alert("注意", "只能选则相同的客户进行审核。");
                        l_okActfee = false;
                        return ;
                        break;
                    }
                }
			}
            $('#stat1').innerText = l_sumact.toString();
            $('#stat2').innerText = "ffff";
            var l_okPreefee = true;
            var rows = $('#fee-prefeeaudit-prefee-datagrid').datagrid('getChecked');
			var l_client = ""
            var l_okActfee = true;
            for(var i=0; i<rows.length; i++){
				var row = rows[i];
                if (l_client.length < 1 )
                    l_client = row.client_id;
                else {
                    if (row.client_id != l_client)
                    {  $.messager.alert("注意", "22只能选则相同的客户进行审核。");
                        l_okPreefee = false;
                        return ;
                        break;
                    }
                }
			}
        }

</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="north" border="false" style="height: 250px" data-options="split:true">
        <table id="fee-prefeeaudit-actfee-datagrid" border="false"
               data-options="rownumbers:true,singleSelect:false,selectOnCheck:false" >
        </table>
    </div>
    <div data-options="region:'center',title:'应收',iconCls:'icon-ok'">
        <table id="fee-prefeeaudit-prefee-datagrid" border="false">
        </table>
    </div>
    <div data-options="region:'south',split:true" style="height:50px; padding: 5px;">
        <a href="#" class="easyui-linkbutton" onclick="checkRule();" > 核销 </a>
        &nbsp;&nbsp;
        <span  id = "stat1">  已收费用 </span>
        &nbsp;&nbsp;
        <span name ="stat2" id = "stat2">  应收费用 </span>
        &nbsp;&nbsp;
        <span id = "stat2">  审核信息 </span>
    </div>
</div>
