<script>
    Namespace.register('fee.prefeeauditview');
$(function () {
        fee.prefeeauditview.clientgrid = $('#fee-prefeeaudit-client-datagrid').datagrid({
            autoSave: false,
            columns: [
                [
                    {% autoescape off %}
                        {{ idObj.writeUI|safe|escape }},
                        {{ clientIdObj.writeUI|safe|escape }},
                        {{ feeTypObj.writeUI|safe|escape }},
                        {{ amountObj.writeUI|safe|escape }},
                        {{ invoiceNoObj.writeUI|safe|escape }},
                        {{ checkNoObj.writeUI|safe|escape }},
                        {{ payTypeObj.writeUI|safe|escape }},
                        {{ feeTimObj.writeUI|safe|escape }},
                        {{ offFlagObj.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'act_fee',
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group:'fee-prefeeaudit-datagrid',
                    handler: function () {
                        sy.createSearchWindow(fee.prefeeauditview.clientgrid);
                    }
                }
            ],
            queryFuncName:'已收核销已收查询',
            onDblClickRow: function (rowIndex, rowData) {
                return;
            },
            onClickRow: function (rowIndex, rowData) {
                var clientid = rowData.client_id;
                var opts = fee.prefeeauditview.actfeegrid.datagrid('options');
                opts.postid = id;
                opts.ex_parm = {
                    clientid : clientid
                };
                fee.prefeeauditview.actfeegrid.datagrid('reload');
            }
        });

        fee.prefeeauditview.actfeegrid = $('#fee-prefeeaudit-actfee-datagrid').datagrid({
            autoLoad:false,
            autoSave: false,
            columns: [
                [
                    {% autoescape off %}
                        {{ id2Obj.writeUI|safe|escape }},
                        {{ clientIdObj.writeUI|safe|escape }},
                        {{ feeTypObj.writeUI|safe|escape }},
                        {{ amountObj.writeUI|safe|escape }},
                        {{ invoiceNoObj.writeUI|safe|escape }},
                        {{ checkNoObj.writeUI|safe|escape }},
                        {{ payTypeObj.writeUI|safe|escape }},
                        {{ feeTimObj.writeUI|safe|escape }},
                        {{ offFlagObj.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            queryFuncName: '已收核销应收查询',
            postid: "0",
            rows: "-1"
        })

});
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="north" border="false" style="height: 250px" data-options="split:true">
        <table id="fee-prefeeaudit-client-datagrid" border="false">
        </table>
    </div>

    <div data-options="region:'west',split:true" title="应收" style="width:350px;">
        <table id="fee-prefeeaudit-prefee-datagrid" border="false">
        </table>
    </div>
    <div data-options="region:'center',title:'已收',iconCls:'icon-ok'">
        <table id="fee-prefeeaudit-actfee-datagrid" border="false">
        </table>
    </div>
    <div data-options="region:'south',split:true" style="height:50px;">

    </div>
</div>
