<script>
    Namespace.register('basedata.clientsview');
    //测试
    $(function () {
        basedata.clientsview.datagrid = $('#basedata-client-datagrid').datagrid({
            border: false,
            columns: [
                [
                    {field: 'id', hidden: true},
                    {field: 'client_name',
                        title: '客户名称',
                        align: 'center',
                        width: 100,
                        editor: {
                            type: 'validatebox',
                            options: {
                                required: true
                            }
                        }
                    },
                    {field: 'client_flag',
                        title: '客户标识',
                        align: 'center',
                        editor: {
                            type: 'checkbox',
                            options: {
                                on: 'true',
                                off: 'false'
                            }
                        },
                        formatter: function (value, rowData, rowIndex) {
                            if (value != null && String(value) == 'true') {
                                //return '<span class="icon icon-enable"></span>';
                                return '<input type="checkbox" disabled="true" value="true" checked="checked" />';
                            } else {
                                return '<input type="checkbox" disabled="true" value="false"/>';
                            }
                        }
                    },
                    {field: 'custom_flag',
                        title: '报关行标识',
                        align: 'center',
                        editor: {
                            type: 'checkbox',
                            options: {
                                on: 'true',
                                off: 'false'
                            }
                        },
                        formatter: function (value, rowData, rowIndex) {

                            if (value != null && value.toString() == "true") {

                                return '<input type="checkbox" disabled="true" checked="checked" />';
                            } else {
                                return '<input type="checkbox" disabled="true" />';
                            }
                        }
                    },
                    {field: 'ship_corp_flag',
                        title: '船公司标识',
                        align: 'center',
                        editor: {
                            type: 'checkbox',
                            options: {
                                on: 'true',
                                off: 'false'
                            }
                        },
                        formatter: function (value, rowData, rowIndex) {
                            if (value != null && value.toString() == "true") {
                                return '<input type="checkbox" disabled="true" checked="checked" />';
                            } else {
                                return '<input type="checkbox" disabled="true" />';
                            }
                        }
                    },
                    {field: 'yard_flag',
                        title: '场站标识',
                        align: 'center',
                        editor: {
                            type: 'checkbox',
                            options: {
                                on: 'true',
                                off: 'false'
                            }
                        },
                        formatter: function (value, rowData, rowIndex) {
                            if (value != null && value.toString() == "true") {
                                return '<input type="checkbox" disabled="true" checked="checked" />';
                            } else {
                                return '<input type="checkbox" disabled="true" />';
                            }
                        }
                    },
                    {field: 'port_flag',
                        title: '码头标识',
                        align: 'center',
                        editor: {
                            type: 'checkbox',
                            options: {
                                on: 'true',
                                off: 'false'
                            }
                        },
                        formatter: function (value, rowData, rowIndex) {
                            if (value != null && value.toString() == "true") {
                                return '<input type="checkbox" disabled="true" checked="checked" />';
                            } else {
                                return '<input type="checkbox" disabled="true" />';
                            }
                        }
                    },
                    {field: 'financial_flag',
                        title: '财务往来单位标识',
                        align: 'center',
                        editor: {
                            type: 'checkbox',
                            options: {
                                on: 'true',
                                off: 'false'
                            }
                        },
                        formatter: function (value, rowData, rowIndex) {
                            if (value != null && value.toString() == "true") {
                                return '<input type="checkbox" disabled="true" checked="checked" />';
                            } else {
                                return '<input type="checkbox" disabled="true" />';
                            }
                        }
                    },
                    {
                        field: 'remark',
                        title: '备注',
                        width: 400
                    }
                ]
            ],
            fit: true,
            idField: 'id',
            method: 'post',
            pageList: [10, 20, 30, 40],
            pageSize: 10,
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    handler: function () {
                        sy.createSearchWindow(basedata.clientsview.datagrid);
                    }
                },
                '-',
                {text: '增加',
                    iconCls: 'icon-add',
                    handler: function () {
                        basedata.clientsview.datagrid.datagrid('insertData', {
                            client_name: '新客户名称'
                        });
                    }
                },
                '-',
                {text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        basedata.clientsview.datagrid.datagrid('deleteData');
                    }
                },
                '-',
                {text: '保存',
                    iconCls: 'icon-save',
                    handler: function () {
                        basedata.clientsview.datagrid.datagrid('postUpdateData');
                    }
                }
            ],
            url: "{% url 'getclients2' %}",
            updateUrl: "{% url 'updateclients' %}",
            onDblClickRow: function (rowIndex, rowData) {
                basedata.clientsview.datagrid.datagrid('dbClick', rowIndex);
            },
            onClickRow: function (rowIndex, rowData) {
                basedata.clientsview.datagrid.datagrid('click', rowIndex);
            }
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="center" border="false">
        <table id="basedata-client-datagrid" border="false">
        </table>
    </div>
</div>
