<script>
    Namespace.register('basedata.feegroupview');
    $(function () {
        basedata.feegroupview.datagrid = $('#basedata-feegroup-datagrid').datagrid({
            columns: [
                [
                    {% autoescape off %}
                        {{ id.writeUI|safe|escape }},
                        {{ group_name.writeUI|safe|escape }},
                        {{ remark.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'c_fee_group',
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group:'basedata-feegroup-datagrid',
                    handler: function () {
                        sy.createSearchWindow(basedata.feegroupview.datagrid);
                    }
                },
                '-',
                {text: '增加',
                    iconCls: 'icon-add',
                    group:'basedata-feegroup-datagrid',
                    handler: function () {
                        basedata.feegroupview.datagrid.datagrid('insertData', {
                            group_name: '新分组'
                        });
                    }
                },
                '-',
                {text: '删除',
                    iconCls: 'icon-remove',
                    group:'basedata-feegroup-datagrid',
                    handler: function () {
                        basedata.feegroupview.datagrid.datagrid('deleteData');
                    }
                },
                '-',
                {text: '保存',
                    iconCls: 'icon-save',
                    group:'basedata-feegroup-datagrid',
                    handler: function () {
                        basedata.feegroupview.datagrid.datagrid('postUpdateAllData');
                    }
                }
            ],
            queryFuncName:'费用分组类型查询',
            updateFuncName:'费用分组类型维护'
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="center" border="false">
        <table id="basedata-feegroup-datagrid" border="false">
        </table>
    </div>
</div>
