<script>
    Namespace.register('basedata.feeprotocolview');
    $(function () {
        basedata.feeprotocolview.datagrid = $('#basedata-feeprotocol-datagrid').datagrid({
            autoLoad:false,
            columns: [
                [
                    {% autoescape off %}
                        {{ id.writeUI|safe|escape }},
                        {{ client_id.writeUI|safe|escape }},
                        {{ fee_id.writeUI|safe|escape }},
                        {{ contract_type.writeUI|safe|escape }},
                        {{ dispatch_place.writeUI|safe|escape }},
                        {{ fee_cal_type.writeUI|safe|escape }},
                        {{ rate.writeUI|safe|escape }},
                        {{ free_day.writeUI|safe|escape }},
                        {{ remark.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'c_fee_protocol',
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group: 'basedata-feeprotocol-datagrid',
                    handler: function () {
                        sy.createSearchWindow(basedata.feeprotocolview.datagrid);
                    }
                },
                '-',
                {text: '增加',
                    iconCls: 'icon-add',
                    group: 'basedata-feeprotocol-datagrid',
                    handler: function () {
                        basedata.feeprotocolview.datagrid.datagrid('insertData', {

                        });
                    }
                },
                '-',
                {text: '删除',
                    iconCls: 'icon-remove',
                    group: 'basedata-feeprotocol-datagrid',
                    handler: function () {
                        basedata.feeprotocolview.datagrid.datagrid('deleteData');
                    }
                },
                '-',
                {text: '保存',
                    iconCls: 'icon-save',
                    group: 'basedata-feeprotocol-datagrid',
                    handler: function () {
                        basedata.feeprotocolview.datagrid.datagrid('postUpdateAllData');
                    }
                }{% comment %},
                '-',
                {text: '批量增加',
                    iconCls: 'icon-edit',
                    group: 'basedata-feeprotocol-datagrid',
                    handler: function () {
                        basedata.feeprotocolview.batchoption = $('<div></div>').window({
                            href: encodeURI("./dealmenureq/?menutext=批量协议费率选项"),
                            title: '协议费率批量生成选项',
                            width: window.innerWidth * 0.6,
                            height: window.innerHeight * 0.8,
                            modal: true,
                            collapsible: false,
                            minimizable: false,
                            maximizable: false,
                            closable: true,
                            onClose: function () {
                                basedata.feeprotocolview.batchoption.window('destroy');
                                basedata.feeprotocolview.batchoption = null;
                            }
                        });
                    }

                }{% endcomment %}
            ],
            queryFuncName: '协议费率查询',
            updateFuncName: '协议费率维护'
        });
        basedata.feeprotocolview.datagrid.batchprotocol = function (p) {
            {% comment %}p = {encodeURI("./dealmenureq/?menutext=通用查询");
                client_id:'', //客户
                fee_id:'', //费用名称
                contract_type:'',//委托类型
                dispatch_place:'',//发货地
                fee_cal_type:''//计费单位
            }{% endcomment %}


        }
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="center" border="false">
        <table id="basedata-feeprotocol-datagrid" border="false">
        </table>
    </div>
</div>
