<script>
    Namespace.register('basedata.postmenufuncview');
    $(function () {
        basedata.postmenufuncview.postdg = $('#basedata-postmenufunc-postdg').datagrid({
            columns: [
                [   {% autoescape off %}
                    {{ postid.writeUI|safe|escape }},
                    {{ postname.writeUI|safe|escape }},
                {% endautoescape %}
                ]
            ],
            pagination: false,
            queryFuncName: '岗位查询',
            onDblClickRow: function (rowIndex, rowData) {
                return;
            },
            onClickRow: function (rowIndex, rowData) {
                var id = rowData.id;
                var param = {
                    type:'query',
                    func:'岗位权限查询',
                    postid:id
                }
                $.ajax({
                    url: "./dealPAjax/",
                    data: {jpargs: JSON.stringify(param)},
                    success: function (r, t, a) {
                        console.info(r);
                        $.ajaxSettings.success(r, t, a);
                    }
                });
                //basedata.postmenufuncview.menufunctree.reload();
            }
        });
        basedata.postmenufuncview.menufunctree = $('#basedata-postmenufunc-menufunctree').tree({
            checkbox: true,
            lines: true

        });
        $('#basedata-postmenufunc-savebutton').bind('click',function(){

        });
    });
</script>

<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="north" border="false" style="height: 200px" data-options="split:true">
        <table id="basedata-postmenufunc-postdg" border="false">
        </table>
    </div>
    <div region="center" border="false">
        <ul id="basedata-postmenufunc-menufunctree"></ul>
    </div>
<div region="south" border="false" style="height:25px;">
        <a id="basedata-postmenufunc-savebutton" href="#" class="easyui-linkbutton">保存</a>
    </div>
</div>