<script>
    Namespace.register('basedata.feeprotocol.batchoption');
    $(function () {
        {% autoescape off %}
            basedata.feeprotocol.batchoption.client = $('#basedata-feeprotocol-batchoption-client').combobox({
                valueField: 'value',
                textField: 'text',
                width: 180,
                multiple: true,
                data:{{ clientdata }}
            });
            basedata.feeprotocol.batchoption.fee = $('#basedata-feeprotocol-batchoption-fee').combobox({
                valueField: 'value',
                textField: 'text',
                width: 180,
                multiple: true,
                data:{{ feedata }}
            });
            basedata.feeprotocol.batchoption.fee = $('#basedata-feeprotocol-batchoption-fee').combobox({
                valueField: 'value',
                textField: 'text',
                width: 180,
                multiple: true,
                data:{{ feedata }}
            });

        {% endautoescape %}
    });
</script>
<form class="editform">
    <div>
        <label>客户：</label>
        <input id="basedata-feeprotocol-batchoption-client"/>
    </div>
    <div>
        <label>费用：</label>
        <input id="basedata-feeprotocol-batchoption-fee"/>
    </div>
    <div>
        <label>委托类型：</label>
        <input id="basedata-feeprotocol-batchoption-contracttype"/>
    </div>
    <div>
        <label>发货地：</label>
        <input id="basedata-feeprotocol-batchoption-dispatchplace"/>
    </div>
    <div>
        <label>计费单位：</label>
        <input id="basedata-feeprotocol-batchoption-feecaltype"/>
    </div>
</form>